.background-setting {
  background-image: url("https://img.freepik.com/free-vector/illustration-data-analysis-graph_53876-18131.jpg?w=2000");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
